.game-info{
    margin: auto; 
    display: flex; 
    justify-content: space-around; 
    justify-items: center; 
    align-items: center;
    margin-bottom:20px;
}

.player-card-1{
    margin-top:10px;
    padding:10px;
    border-radius: 20px;
    display: grid; 
    text-align: center; 
    justify-items: left;
    background-color: rgb(253, 182, 182);
    overflow: hidden;
    box-shadow: 0px 4px 20px;
}

.player-card-2{
    margin-top:10px;
    padding:10px;
    border-radius: 20px;
    display: grid; 
    text-align: center; 
    justify-items: right;
    background-color: rgb(182, 236, 253);
    overflow: hidden;
    box-shadow: 0px 4px 20px;
}

.match-info{
    display: grid; 
    text-align: center; 
    justify-items: center;
}


.match-card{
    margin: auto;
    display: flex; 
    width: fit-content; 
    height: auto;
    flex-wrap: wrap; 
    flex-direction: column;
    border-width: 0px;
    box-shadow: 0px 4px 20px;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

.match-cell{
    cursor: pointer;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    padding: 6px;
    background-color:white;
    color:black;
    border-color:black;
}

.match-cell:disabled{
    cursor: default;
    color-scheme: light;
    color:black;
    border-color:black;
}

.match-icon{
    font-size: 6rem;
    height: 6rem;
    width: 6rem;
}

.play-button{
    width: 4rem;
    height: 4rem;
}

.play-icon{
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
}

p{
    margin-top: 0;
}